/* ESTILOS DE LA SECCION DETALLES DE LOS VINOS */
.detalles {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    -webkit-box-shadow: -8px -5px 5px -7px rgba(0,0,0,0.55);
-moz-box-shadow: -8px -5px 5px -7px rgba(0,0,0,0.55);
box-shadow: -8px -5px 5px -7px rgba(0,0,0,0.55);
}
.detalleIzquierda{
    height: auto;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tituloDetalle{
    font-size: 2em;
}
.personalizada {
    width: 50%;
    height: auto;
    text-align: justify;
    box-shadow: none;
}
.galeriaDetalle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-detalle{
    /* background-color: blue; */
    height: 350px;
    width: 40%;
    box-shadow:none;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.card-detalle>img{
    max-height:100% ;
    max-width: 100%;
    
}

/* alineacion de la tabla de ficha tecnica */
.text-center {
    text-align: left !important;
}
.iconos{
    margin-top: 5px;
    width: 60%;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1.2em;
}